@page
@model DM2Projekt.Pages.GroupInvitations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupInvitation[0].Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupInvitation[0].InvitedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupInvitation[0].IsAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupInvitation[0].SentAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GroupInvitation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvitedUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SentAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InvitationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InvitationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InvitationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
