@page
@model DM2Projekt.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CreatedByUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].EndTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Smartboard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Booking)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.RoomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Smartboard.SmartboardId)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.BookingId" class="btn btn-outline-danger btn-sm">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>
